@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btnOne {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #727272;
    background-color: #FF900E;
    color: #fff;
    padding: 20px 25px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    border: 1px solid #FF900E;
}

.btnOne:hover {
    background-color: #fff;
    border: 1px solid #FF900E;
    color: #FF900E;
    transition: 0.2s ease-in-out;
}

.titlePartColorOne {
    color: #727272;
}

.titlePartColorTwo {
    color: #FF900E;
}

/* ========================================== */

.headerBg {
    background-color: #FFF4E7;
}

/* navber code start */
.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.navber .leftLogo h3{
    font-size: 30px;
    font-weight: 900;
}

.navber .menuItem a {
    text-decoration: none;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 600;
}
/* navber code end */

/* banner code start */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.banner h1 {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    line-height: 75px;
    margin-top: 115px;
    margin-bottom: 45px;
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
}


/* banner code end */

/* mainIamge code start */

.mainImage {
    padding: 50px 8%;
    background-color: #FFF4E7;
}
.mainImage img{
    width: 100%;
}
/* mainImage code end */

/* quickList code start */
.quickList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 8%;
}

.quickList .leftImageGridBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quickList .leftImageGridBox img {
    width: 100%;
}

.quickList .rightTextBox {
    padding: 0 10px 0 40px;
    flex: 5;
}

.quickList .rightTextBox h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #131313;
}

.quickList .rightTextBox p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 40px;
}
/* quickList code end */

/* feature code start */
.feature {
    padding: 50px 8%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.featureLeftTextBox {
    flex: 1.2;
    margin-right: 70px;
}

.feature .featureLeftTextBox .featureLeftTextBoxInner h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #131313;
}

.feature .featureLeftTextBox .featureLeftTextBoxInner p{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 40px;
}

.feature .featureLeftTextBox .featureLeftTextBoxInner .featureLeftTextBoxInnerBox {
    padding: 25px 20px;
    box-shadow: 10px 10px 55px -8px rgba(163, 163, 163, 0.23);
    border-radius: 20px;
    margin-top: 20px;
}

.feature .featureLeftTextBox .featureLeftTextBoxInner .featureLeftTextBoxInnerBox p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}

.featureRightimageBox {
    flex: 1;
}

.featureRightimageBox img {
    width: 100%;
}

.featureButton {
    position: relative;
    right: 40px;
    top: -80px;
}

.featureRightimageBox .featureButton button {
    background-color:#FF900E;
    border: 2px solid #ff8800;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.featureRightimageBox .featureButton button:hover {
    background-color:transparent;
    border: 2px solid #ff8800;
    color: #ff8800;
    transition: 0.3s ease-in-out;
}

.featureRightimageBox .featureButton button a:hover {
    color: #ff8800;
    transition: 0.3s ease-in-out;
}

.featureRightimageBox .featureButton button a {
    padding: 40px 180px;
    text-decoration: none;
    color: #fff;
}

.featureRightimageBox .featureButton button a h1 {
    font-size: 30px;
}
/* feature code end */

/* fact code start */

.fact {
    padding: 50px 8%;
}

.fact .factTitleBox h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #131313;
}

.fact .factTitleBox p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 40px;
}

.fact .factIconGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.fact .factIconGrid .iconBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    margin: 0 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 40px 20px;
    transition: 0.3s ease-in-out;
}

.fact .factIconGrid .iconBox:hover{
    background-color: #FFF4E7;
    transition: 0.3s ease-in-out;
    color: #131313;
}

.fact .factIconGrid .iconBox:hover h5{
    transition: 0.3s ease-in-out;
    color: #131313;
}

.fact .factIconGrid .iconBox h5{
    font-size: 17px;
    font-weight: 600;
    color: #727272;
}
/* fact code end */

/* sponsor code start */

.sponsore {
    text-align: center;
    padding: 50px 8%;
}

.sponsore .sponsoreTitleBox h1{
    font-size: 45px;
}

.sponsore .sponsoreTitleBox p{
    font-size: 14px;
    color: #727272;
}

.sponsore .sponsoreLogoGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}
/* sponsor code end */

/* subscribe code start */
.subscribe {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 15% 8%;
    margin-top: 10%;
    background-attachment: fixed;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.437);
    z-index: 0;
}

.subTextBox {
    z-index: 1;
    position: inherit;
}

.subTextBox h2 {
    font-size: 50px;
    color: #ffffff;
}

.subscribeForm input[type="email"] {
    width: 20%;
    height: 30px;
    border: none;
    padding: 5px 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}

.subscribeForm input[type="button"] {
    width: 10%;
    padding: 10px 20px;
    border: none;
    border: 1px solid #FF900E;
    border-radius: 5px;
    background-color: #FF900E;
    color: #fff;
    font-weight: 700;
    transition: 0.3s ease;
}

.subscribeForm input[type="button"]:hover {
    border: 1px solid #fff;
    background-color: transparent;
    transition: 0.3s ease;
}

*:focus {
    outline: none;
}

/* subscribe code end */

/* footer code start */

.footer {
    padding: 10% 8% 5% 8%;
}

.footerSection{
    background-color: #FFF4E7;
    padding: 50px 0;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
}
/* footer code end */





/* ----------------------
RESPONSIVE CODE START HERE
-------------------------------*/

@media (max-width: 600px) {
  
    /* nav code */
    .navber {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #131313;
        padding: 20px ;
    }

    .navber .menuItem {
        margin-top: 20px;
    }

    .navber .menuItem a {
        margin-left: 0px;
        font-size: 12px;
        font-weight: 600;
        padding: 10px 12px;
        background-color: #eeeeee;
        border-radius: 20px;
        margin-top: 60px !important;
    }

    /* banner code */

    .banner {
        padding: 0 50px;
    }

    .banner h1 {
        font-size: 40px;
        line-height: 55px;
    }

    .banner p {
        font-size: 15px;
        font-weight: 400;
    }

    .banner a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: #727272;
        background-color: #FF900E;
        color: #fff;
        padding: 14px 20px;
    }

    /* quickList code */
    .quickList {
        display: flex;
        flex-direction: column;
        padding: 50px 8%;
        text-align: center;
    }

    .quickList .leftImageGridBox {
       margin-bottom: 60px;
    }

    /* feature code */
    .feature {
        padding: 50px 8%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .feature .featureLeftTextBox .featureLeftTextBoxInner p{
        margin-top: 10px;
    }

    .featureLeftTextBox {
        flex: 1;
        margin-right: 0px;
    }

    .featureRightimageBox {
        margin-top: 20px;
    }

    .featureButton {
        position: relative;
        right: 0px;
        top: 10px;
    }

    /* Fact code */

    .fact .factIconGrid {
        display: flex;
        flex-direction: column;
        
    }

    .fact .factIconGrid .iconBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #FF900E;
        border-radius: 8px;
        padding: 40px 40%;
        margin-top: 20px;
    }

    .fact .factIconGrid .iconBox h5{
        text-align: center;
    }

    .factTitleBox {
        text-align: center;
    }

    /* subscribe code */

    .subscribeForm input[type="email"] {
        width: 40%;
        height: 25px;
        border: none;
        padding: 5px 5px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
    }

    .subscribeForm input[type="button"] {
        width: 20% !important;
        padding: 10px 0px !important;
        border: none;
        border: 1px solid #FF900E;
        font-size: 10px;
    }

    /* sponsor code */

    .sponsore .sponsoreLogoGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 50px;
        place-items: center;
    }

    .sponsore .sponsoreLogoGrid .logoBox img{
        width: 60%;
    }

    .subscribeForm input[type="button"] {
    width: 10%;
    padding: 10px 20px;
    border: none;
    border: 1px solid #FF900E;
    border-radius: 5px;
    background-color: #FF900E;
    color: #fff;
    font-weight: 700;
    transition: 0.3s ease;
}
    
  }

